<html ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="MyController">
	<h1>Learn New Words</h1>

	<div ng-repeat= "w in words" ng-click="showGifs($event)">{{w.word}}</div>

	<div>
		<input ng-model="newWord"></input>
		<button ng-click="saveThisWord()">Save</button>
		<button ng-click="getSavedWords()">Update List</button>
	</div>
	<img ng-src="{{gifUrl}}">

	<script src="node_modules/angular/angular.js"></script>
	<script src="index.js"></script>
	<!--everything you see in the file is here -->
</body>
</html>